<!DOCTYPE html> 
<html> 
  <head> 
    <title> Login ou inscrição via reconhecimento facial </title> 
  </head> 
  <body> 
    <button  onclick= "enrollNewUser()" > Inscrever novo usuário </button> 
    <button  onclick= "authenticateUser()" > Autenticar usuário </button> 
    <div  id= "faceio-modal" ></div> 
    <script src= "https://cdn.faceio.net/fio.js" > </script> 
    <script type= "text/javascript" > 
        // Instancie fio.js com sua aplicação Public ID 
        const  faceio  =  new  faceIO ( "fioace95" ); 
        function  enrollNewUser (){ 
           // Inicia o processo de registro facial 
           faceio . enroll ({ 
                "locale" :  "auto" ,  // Locale padrão do usuário 
                "payload" :  { 
                /* A carga útil que queremos associar a este usuário 
                * que é encaminhada de volta para nós após 
                * autenticação futura deste usuário específico.*/ 
                "whoami" :  123456 ,  // Exemplo de ID fictício vinculado a este usuário específico 
                "email" :  "john.doe@example.com" 
                } 
            }). then ( userInfo  =>  {
                alert ( 
                    ` Usuário  inscrito com sucesso  ! Detalhes : ID facial exclusivo : $ { userInfo . facialId } Data de inscrição : $ { userInfo . timestamp } Gênero : $ { userInfo .details . gênero } Aproximação de idade : $ { userInfo .details . age } ` ); console .log ( userInfo ) ; // trata do sucesso, salva o ID facial, redireciona para o dashboard... }) .catch ( errCode => { 
                       
                     
                     
                      
                
                
                
              
                // trata da falha de inscrição. Visite: 
                // https://faceio.net/integration-guide#error-codes 
                // para obter a lista de todos os códigos de erro possíveis 
            }) 
        } 
        function  authenticateUser (){ 
           // Autenticar um usuário previamente registrado 
            faceio . authenticate ({ 
                "locale" :  "auto"  // localidade padrão do usuário 
            }). então ( userData  =>  { 
                console . log ( "Sucesso, usuário identificado" ) 
                // Pegue o ID facial vinculado a este usuário específico que será o mesmo 
                // para cada uma de suas autenticações futuras bem-sucedidas. FACEIO recomenda 
                // que você confie este ID facial se você planeja identificar exclusivamente 
                // todos os usuários inscritos em seu back-end, por exemplo. 
                console .log ( "ID facial vinculado: " + userData . facialId )
                console .log ( " Payload: " + JSON . stringify ( userData . payload )) 
                }). catch ( errCode => {
					
				}) } </script> </body> </html>  
    