<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            position: relative;
        }

        canvas {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <video id="video" width="640" height="480" autoplay></video>
    <div id="success" style="display: none;">
        <p style="font-weight: 600;">Face corresponde! Similaridade: <span id="similaridade" style="color: green;"></span></p>
    </div>
    <script defer th:src="@{/face-api.min.js}"></script>
    <script defer th:src="@{/aws-sdk-2.410.0.min.js}"></script>
    <script defer th:src="@{/script2.js}"></script>
</body>
</html>
